lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

public/html/*
public/js/*
public/css/*

public/export

!public/html/tests.*
!public/js/tests.*
!public/css/tests.*

!public/html/car.*
!public/js/car.*
!public/css/car.*

!public/html/default.*
!public/js/default.*
!public/css/default.*

!public/css/images

