lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

public/html/*
public/js/*
public/css/*

public/export

!public/html/tests.html
!public/js/tests.js
!public/css/tests.css

!public/html/car.html
!public/js/car.js
!public/css/car.css

!public/html/default.html
!public/js/default.js
!public/css/default.css

!public/css/images

